<div class="sem_dados">
	<small>Ainda não há dados suficientes para iniciar a visualização do e-mail.</small>
</div>

<style>
	.sem_dados{
		color: rgb(129, 129, 129);
		margin-top: 50px;
		font-family: "Arial";
		padding: 50px;
		text-align: center;
		background-color: #eee;
		border-radius: 6px;
	}
</style>